///     TODO    ///
• Aplicația ar trebui să permită adăugarea unor orașe ca Favorite.

///     DONE    ///
• Aplicația trebuie sa fie funcționala si să ruleze pe un localhost (node intregration, etc.).
• Aplicația trebuie legata la un Weather API, pentru a avea data reale in aplicație. 
• Aplicația trebuie să fie responsive pentru Desktop cât și pentru Mobile.
• Aplicația ar trebui să permită vizualizarea mai multor orașe.
• Aplicația ar trebui să aibă mai multe Teme (themes/desings). (day, night, rain, etc.)
• Folosirea semantică a elementelor Web.
• Weather Card arata datele pentru locația actuala inițial ->>> location request
• Aplicația ar trebui să permită utilizatorului să facă forecast pe mai multe zile/ore.
• Codul trebuie să fie încărcat si accesibil pe un GitHub/Bitbucket, pentru a îl putea clona și rula.

Localhost with MAMP created, http://localhost:8888/index.html, not displaying properly

